.all-tags .col-tag{
    border: 1px solid #6e6d6d;
    border-radius: 2px;
    max-width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    color: white;
    padding: 6px 12px;
}