@media (max-width: 1400px){
    .new-apple-banner{
        margin-top: 40px;
        margin-bottom: 40px;
    }
}
@media (max-width: 768px){
    .new-apple-banner{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .new-apple-banner .container{
        flex-direction: column;
        justify-content: center !important; 
    }
    .new-apple-banner .container .col-img-banner{
        width: 100%;
        height: 100%;
    }
}