@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
ul{
    list-style: none;
}
.container{
    padding-left: 400px;
    padding-right: 400px;
    margin-left: auto;
    margin-right: auto;
}
@media (max-width: 2000px){
    .container{
        padding-left: 200px;
        padding-right: 200px;
    }
}
@media (max-width: 1600px){
    .container{
        padding-left: 100px;
        padding-right: 100px;
    }
}
@media (max-width: 992px){
    .container{
        padding-left: 40px;
        padding-right: 40px;
    }
}
@media (max-width: 768px){
    .container{
        padding-left: 20px;
        padding-right: 20px;
    }
}
body {
  font-family: 'Poppins', sans-serif;
}

  
/*Small*/
@media (min-width: 768px){
    .container{
        width: 750px;
    }
}
/*Medium*/
@media (min-width: 992px){
    .container{
        width: 970px;
    }
}
/*Large*/
@media (min-width: 1200px){
    .container{
        width: 1170px;
    }
}
